google-services.json
GoogleService-Info.plist
.idea
.packages
android/gradle/
android/gradlew
android/gradlew.bat
example/android/app/gradle/
example/android/app/gradlew
example/android/app/gradlew.bat
example/android/app/local.properties
example/ios/Podfile.lock
example/.idea
*.swp
pubspec.lock
